body {
    background-color: white;
    margin: 2%;
    font-family: sans-serif;
}


.thumbnail {
    max-width: 300px;
    margin: 5px;
    margin-left: 0;
    border: solid 1px;
    width: 96%;
}


h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    border-bottom: solid 1px;
}

h3 {
    font-size: 2em;
}

li {
    border-top: solid 1px;
}

ul.scenes a, nav a {
    display: block;
    text-decoration: none;
    padding: 11px;
}

ul.scenes {
    list-style: none;
    padding: 0;
}

ul.scenes a:hover, nav a:hover {
    background: black;
    color: white;
}

p.renderDate {
    font-size: 0.8em;
    color: grey;
}

footer {
    margin-top: 100px;
}



th, td {
    border: 1px solid #e1e1e1;
}
  
th, td {
    padding: 0.3rem;
    padding-right:1rem;
}

th {
    background: #e1e1e1;
    color: black;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    margin-bottom: 10px;
}

@media print {
    
    @page {
        margin: 0;
        size: A4;
    }
    
    body {
        font-size: 10px;
    }

    .thumbnail {
        max-width: 200px;
    }

    .shot {
        break-inside: avoid;
    }

    .scene {
        break-before: page;
    }

    nav, .button {
        display: none;
    }
}
