* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto;
}


.thumbnail {
    max-width: 350px;
    margin: 5px;
    margin-left: 0;
    border: solid 1px;
    width: 96%;
}


h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    margin-top: 2em;
    font-size: 2em;
}

.shot:target {
    background: #e9e9e9;
}

h3 a {
    font-size: 0.8em;
    opacity: 0.3;
    text-decoration: none;
    color: black;
}

h3 a:hover {
    opacity: 1;
}

.scenes li {
    border-top: solid 1px;
}

ul.scenes a, nav a {
    display: block;
    text-decoration: none;
    padding: 12px;
    color: black;
}

ul.scenes {
    list-style: none;
    padding: 0;
}

ul.scenes a span {
    display: inline-block;
    width: 15%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul.scenes a span.data {
    font-family: monospace;
    color: grey;
}

ul.scenes a span.info {
    width: calc(85% - 120px);
}

ul.scenes a:hover, nav a:hover {
    background: black;
    color: white;
}

p.renderDate {
    font-size: 0.8em;
    color: grey;
}

main {
    margin: 0 2%;
}

footer {
    margin-top: 2em;
    text-align: center;
}

nav.scene.top {
    border-bottom: solid 1px;
}

nav.scene.bottom {
    margin-top: 3em;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

nav.scene ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav.scene li {
    flex-grow: 1;
    width: 33.3%;
}

nav.scene .next {
    text-align: right;
}

nav.scene .menu {
    text-align: center;
}

nav.scene .previous {
    text-align: left;
}

th, td {
    border: 1px solid #e1e1e1;
}
  
th, td {
    padding: 0.3rem;
    padding-right:1rem;
}

th {
    background: #e1e1e1;
    color: black;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.attachment img {
    max-width: 96%;
}

@media print {
    
    @page {
        margin: 0;
        size: A4;
    }
    
    body {
        font-size: 10px;
    }

    .thumbnail {
        max-width: 200px;
    }

    .shot {
        break-inside: avoid;
    }

    .scene {
        break-before: page;
    }

    nav, footer {
        display: none;
    }

    h3 a {
        display: none;
    }
}


ul.scenes span.name {
    width: 100px;
}
